.venv
asin2category.json
*.jsonl.gz
*.pyc
__pycache__/
.ipynb_checkpoints/
*.parquet
*.png
*.json
*.lock
client_secrets.json
client_secret.json
pydrive_credentials.json
data_registry.yaml
output.txt
*/explore_data.py